table {
    border-color: hsl(
      calc(var(--hue-base) + var(--hue-table) * 1deg),
      calc(var(--sat-base) + var(--sat-table) * 1%),
      calc(var(--lig-base) + var(--lig-table) * 1%)
    );
  }
  
  table {
    border-width: calc(var(--border-width-table) * 1px);
  }
  
  table {
    border-style: var(--border-style-table);
  }
  
  body {
    font-family: var(--font-family);
  }
  
  body {
    color: hsl(
      calc(var(--hue-base) + var(--hue-text) * 1deg),
      calc(var(--sat-base) + var(--sat-text) * 1%),
      calc(var(--lig-base) + var(--lig-text) * 1%)
    );
  }
  
  body {
    font-size: calc(var(--font-size-base) * 1rem);
  }
  
  body {
    margin: calc(var(--margin-base) * 1px);
  }
  
  table {
    margin: calc(var(--margin-table) * 1px);
  }
  
  p {
    margin: calc(var(--margin-paragraph) * 1px);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: calc(var(--margin-heading) * 1px);
  }
  