.Title{
  text-align: center;
  color: #ab5800;
}
.About{
  text-align: center;
  color: #ab5800;

}
body{
  text-align: center;
  background-color: #eeecc2;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: auto;
}

